<div class="container">
    <ul>
        <li>
            <nav class="navbar bg-body-tertiary">
                <form class="container-fluid justify-content-start">
                    <a href="/" class="btn btn-outline-success me-2">Главная</a>
                    <a href="new" class="btn btn-outline-success me-2">Новости</a>
                     <a href="user" class="btn btn-outline-success me-2">Пользователь</a>
                    <a href="contacts" class="btn btn-outline-success me-2">Контакты</a>
                </form>
            </nav>
        </li>
    </ul>
</div>